<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Template Widget</title>
  <meta name="description" content="Template Widget">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Template">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<body>

  <div>
      TEMPALTE HTML WIDGET
  </div>

</body>
</html>
